openapi: 3.0.4
info:
  title: Comment Generator
  description: >-
    Comment Generator is a simple tool for generating comments for social media.
    It returns a list of comments based on the input parameters.
  termsOfService: https://apiverve.com/terms/
  contact:
    name: APIVerve Support
    email: hello@apiverve.com
    url: https://apiverve.com/contact
  version: 1.0.0
externalDocs:
  description: Learn more about APIVerve
  url: https://docs.apiverve.com?utm_source=openapi
servers:
  - url: https://api.apiverve.com/
paths:
  /v1/commentgenerator:
    get:
      summary: Generate Text Post Comments
      description: Generate comments for text-based social media posts
      operationId: commentgenerator
      parameters:
        - name: mode
          in: query
          schema:
            type: string
          required: true
          description: The mode of comment generation
          example: text
        - name: tone
          in: query
          schema:
            type: string
          required: false
          description: The tone of the comments
          example: positive
        - name: count
          in: query
          schema:
            type: integer
          required: false
          description: The number of comments to generate (max 10)
          example: 5
        - name: emojis
          in: query
          schema:
            type: boolean
          required: false
          description: Whether to include emojis in the comments
          example: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    description: status
                  error:
                    type: string
                    description: error
                  data:
                    type: object
                    description: data
              example:
                status: ok
                error: null
                data:
                  count: 5
                  mode: text
                  tone: positive
                  comments:
                    - You're so right! is a game-changer Wow! 😍
                    - Inspiring stuff gives me all the feels Wow! ✨
                    - Thanks for sharing this gives me all the feels Perfect! 💯
                    - Exactly my thoughts is on fire Wow beyond! 🌟
                    - >-
                      Great outlook in everything here, very bright! slays! For
                      sure! 😊
        '401':
          description: Your request was not authorized, or your API Key was invalid
        '404':
          description: Requested resource was not found
        '500':
          description: A server error has occurred, try again later
components:
  securitySchemes:
    api_key:
      type: apiKey
      name: x-api-key
      in: header
security:
  - api_key: []
